<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Dennis Truong | Aspiring Web Developer</title>
		<link rel="stylesheet" href="/css/site.css">
		<link href="css/lightbox.css" rel="stylesheet" />
	</head>
	<body>
			<nav class="top-nav">
				<div class="nav-wrapper">
					<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons"></i></a>
					<ul class="right hide-on-med-and-down">
						<li><a href="/">Home</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/blog">Blog</a></li>
						<li><a href="/photos">Gallery</a></li>
						<li><a href="/streams">Twitch</a></li>
					</ul>
					<ul class="side-nav" id="mobile-demo">
						<li><a href="/">Home</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/blog">Blog</a></li>
						<li><a href="/photos">Gallery</a></li>
						<li><a href="/streams">Twitch</a></li>
					</ul>
				</div>
			</nav>
			<%- body %>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="/js/vendor/mithril.min.js"></script>
		<script src="/js/vendor/materialize.min.js"></script>
		<script src="/js/main/main.js"></script>
		<script src="/js/lightbox.js"></script>
		<script>
 		</script>
	</body>
</html>