<div class="container">
    <div class="row">
        <h1><b><center>ABOUT</center></b></h1>
    </div>
    <br><br>
    <div class="container">
    	<center><img src="http://i.imgur.com/KjoLLGI.jpg" height="350"></center>
	</div>
	<div class="container">
	  	<p>Where should I start? I never know where to start.<br><br>
  		I graduated from the University of Maryland, College Park and earned a Bachelor of Arts degree in Criminology and Criminal Justice.<BR><BR>
  		I am also involved in a non-profit organization called the <a href="https://mauvsa.org">Mid-Atlantic Union of Vietnamese Student Associations</a> (MAUVSA). I am currently serving as the Secretary and Treasurer, and have been elected as the upcoming Internal Vice President for the 2016-2017 school year. This experience has helped me grow as a person, along with improving my leadership skills and abilities.<BR><BR>
  		So what have I been up to since? I decided to change my career path. I attended General Assembly Washington DC and enrolled myself in the 12-week Web Development Immersive course. Here, I was able to learn how to come a web developer. This course has taught me the ins-and-outs of basic web development -- both Front-end and Back-end.<BR><BR>
  		When I'm not programming or attending to MAUVSA duties, I am doing things that I love. This ranges from flag football, playing video games, photography, videography, traveling, eating at pho places, watching the latest movies, or hanging out with my friends.<BR><BR>
  		I love to share my knowledge to others because I learned from so many people who has helped me grow so much throughout the years. I want to give back to my community.<BR><BR>
  		Think you know me well now? Go browse around!</p>
	</div>
  <BR><BR><BR>
</div>