<div class="container">
    <div class="row">
        <h1><b><center>DENNIS TRUONG</center></b></h1>
        <h4><center>Sports Enthusiast | Photographer | Pho Lover</center></h4>
    </div>
    <br><br><br><br>
    <div>
        <h3><center>Want to know more about me?</center></h3>
        <center><a href="/about"><button class="waves-effect waves-light btn">Read My Story</button></a></center>
    </div>
    <br><br><br><br>
    <div>
        <center>
            <a href="/blog"><img src="http://i.imgur.com/Dhb43rK.jpg" height="200"></a>
            <a href="/photos"><img src="http://i.imgur.com/v6RhU6h.jpg" height="200"></a>
            <a href="/streams"><img src="http://i.imgur.com/R49NWdm.jpg" height="200"></a>
        </center>
    </div>
    <BR><BR><BR>
</div>