<div class="container">
    <div class="row">
      <h1><b><center>GALLERY</center></b></h1>
    </div>
    <br><br>
    <div>
      <center>
            <a href="images/Edeny1.jpg" data-lightbox="image-1" data-title="Candid Sunlight"><img src="images/Edeny1.jpg" width="150" border="2"></a>
            <a href="images/Baltimore.jpg" data-lightbox="image-1" data-title="Baltimore at Night"><img src="images/Baltimore.jpg" width="250" border="2"></a>
      </center>
    </div>
</div>