<div class="container">
    <div class="row">
      <h1><b><center>GALLERY</center></b></h1>
    </div>
    <br><br>
    <div>
      <center>
        <ul class="enlarge">
          <li>
              <img src="https://farm2.staticflickr.com/1501/25675034154_db4e4e3db4_k.jpg" height="250"/><span><img src="https://farm2.staticflickr.com/1501/25675034154_db4e4e3db4_k.jpg" height="500"/><br>Baltimore at Night</span>
          </li>
          <li>
              <img src="https://farm2.staticflickr.com/1521/25675033524_5a59c32f97_k.jpg" width="250"/><span><img src="https://farm2.staticflickr.com/1521/25675033524_5a59c32f97_k.jpg" width="450"/><br>Candid Sunlight</span>
          </li>
      </center>
    </div>
</div>