<div class="container">
    <div class="row">
      <h1><b><center>GALLERY</center></b></h1>
    </div>
    <br><br>
    <div>
      <center>
            <a href="images/Edeny1.jpg" data-lightbox="image-1" data-title="My caption"><img src="images/Edeny1.jpg" width="250"></a>
            <a href="images/Baltimore.jpg" data-lightbox="image-1" data-title="My caption">Image #2</a>
      </center>
    </div>
</div>