<div class="container">
    <div class="row">
        <h1><b><center>SPORTS</center></b></h1>
    </div>
	<div class="container">
        <BR>
        <p id="leagueHeaders">La Liga</p>
          <p id="sportsText">
            <img src="/images/realmadrid.png" height="35">&nbsp;<b>Real Madrid</b> vs <b>Getafe</b> | Saturday, April 16th, 2016 | 10AM on Bein HD<br>
  		      <img src="/images/barca.png" height="25">&nbsp;<b>Barcelona</b> vs <b>Valencia</b> | Sunday, April 17th, 2016 | 2:30PM on Bein HD<br>
          </p>
        <p id="leagueHeaders">Bundesliga</p>
          <p id="sportsText">
            <img src="/images/bayern.png" height="25">&nbsp;<b>Bayern Munich</b> vs <b>FC Schalke 04</b> | Saturday, April 16th, 2016 | 12:30PM on FOX<br>
            <img src="/images/dortmund.png" height="25">&nbsp;<b>Borussia Dortmund</b> vs <b>Hamburger SV</b> | Sunday, April 17th, 2016 | 9:30AM on FS1<br>
          </p>
        <p id="leagueHeaders">English Premier League</p>
          <p id="sportsText">
            <img src="/images/manu.png" height="25">&nbsp;<b>Manchester United</b> vs <b>Aston Villa</b> | Saturday, April 16th, 2016 | 10AM on NBCSports<br>
            <img src="/images/arsenal.png" height="25">&nbsp;<b>Arsenal</b> vs <b>Crystal Palace</b> | Sunday, April 17th, 2016 | 11AM on NBCSports<br>
        --------------------------------<BR>
        <p id="leagueHeaders">UEFA Champions League</p>
          <p id="sportsText">1st Leg</p>
          <p id="sportsText">
            <img src="/images/realmadrid.png" height="35">&nbsp;<b>Real Madrid</b> at <b>Manchester City</b>&nbsp;<img src="/images/mancity.png" height="25"> | Tuesday, April 26th, 2016 | 2:30PM on FS1<br>
            <img src="/images/bayern.png" height="25">&nbsp;<b>Bayern Munich</b> at <b>Atletico Madrid</b>&nbsp;<img src="/images/athletico.png" height="25"> | Wednesday, April 26th, 2016 | 2:30PM on FS1<br><br>
          </p>
	</div>
  <BR>
</div>