<div class="container">
    <div class="row">
        <h1><b><center>STREAMS</center></b></h1>
    </div>
 		<center><iframe src="https://player.twitch.tv/?channel=dennizzy" frameborder="0" scrolling="no" height="500" width="800"></iframe></center>
</div>

